# Configuration file

####################
# block
####################

block {
    I:BluePrintPrinter=4019
    I:BlueprintProjector=4015
    I:ChemicalStorage=4018
    I:Decomposer=4013
    I:FusionChamber=4017
    I:GhostBlock=4016
    I:Microscope=4012
    I:Synthesis=4014
    I:"Uranium Ore"=4020
}


####################
# decomposerrecipe1
####################

decomposerrecipe1 {
    S:Input=7:0
}


####################
# decomposerrecipe1output1
####################

decomposerrecipe1output1 {
    I:Amount=16
    I:ChemicalID=2
    B:IsMolecule=false
}


####################
# item
####################

item {
    I:AtomicManipulator=4739
    I:Blueprint=4741
    I:ChemistJournal=4743
    I:Element=4736
    I:EmptyPills=4749
    I:FusionStar=4740
    I:Hammer=4748
    I:HazmatFeet=4744
    I:HazmatHead=4747
    I:HazmatLegs=4745
    I:HazmatTorso=4746
    I:Lens=4738
    I:Molecule=4737
    I:TestTube=4742
}


